.dialog-window_theme_default
{
    font-family: Helvetica, Tahoma, sans-serif;
}

/*Контейнер диалогового окна, задающий его размеры и отступы от вьюпорта*/
.dialog-window_theme_default .dialog-window__body
{
    display: inline-block;

    min-width: 600px;
    max-width: 90%;
    padding: 5%;

    text-align: left;
    vertical-align: middle;
    white-space: normal;
}

/*Контрол закрытия окна*/
.dialog-window_theme_default .dialog-window__close
{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;

    position: relative;

    display: inline-block;
    float: right;

    width: 30px;
    margin: 15px 0 15px 20px;

    cursor: pointer;
    text-align: center;

    color: #fff;
}

.dialog-window_theme_default .dialog-window__close:active
{
    text-shadow: 0 0 5px #cdcdcd;
}

.dialog-window_theme_default .dialog-window__close:hover
{
    transition: color 0.2s linear;

    color: #e1e1e1;
}

/*контент*/
.dialog-window_theme_default .dialog-window__content
{
    font-size: 18px;

    padding: 15px 20px;

    color: #2f3032;
    background: #f5f5f5;
}

/*Контейнер контролов окна*/
.dialog-window_theme_default .dialog-window__controls
{
    margin: 20px 0 0;
}

.dialog-window_theme_default .dialog-window__controls .button + .button
{
    margin-left: 20px;
}

/*Шапка*/
.dialog-window_theme_default .dialog-window__header
{
    line-height: 60px;

    position: relative;

    height: 60px;
    padding: 0 20px;
}

.dialog-window_theme_default .dialog-window__header_type_error
{
    background: #fa565a;
}

.dialog-window_theme_default .dialog-window__header_type_info
{
    background: #00afd1;
}

.dialog-window_theme_default .dialog-window__header_type_success
{
    background: #73ba5d;
}

.dialog-window_theme_default .dialog-window__header_type_warning
{
    background: #fa9c62;
}

/*Иконка в шапке*/
.dialog-window_theme_default .dialog-window__icon
{
    position: relative;
    top: -4px;

    display: inline-block;

    width: 32px;
    height: 32px;
    margin: 0 20px 0 0;

    vertical-align: middle;

    background-repeat: no-repeat;
}

/*TODO: inline svg*/
.dialog-window_theme_default .dialog-window__icon_type_error
{
    background-image: url(dialog-window__icon_type_error.png);
}

.dialog-window_theme_default .dialog-window__icon_type_info
{
    background-image: url(dialog-window__icon_type_info.png);
}

.dialog-window_theme_default .dialog-window__icon_type_success
{
    background-image: url(dialog-window__icon_type_success.png);
}

.dialog-window_theme_default .dialog-window__icon_type_warning
{
    background-image: url(dialog-window__icon_type_warning.png);
}

/*Обертка окна, для его позиционирования*/
.dialog-window_theme_default .dialog-window__inner
{
    position: relative;
    z-index: 1;

    overflow: auto;

    width: 100%;
    height: 100%;

    text-align: center;
    white-space: nowrap;
}

.dialog-window_theme_default .dialog-window__inner:before
{
    display: inline-block;

    width: 0;
    height: 100%;

    content: '';
    vertical-align: middle;
}

/*Заголовок окна*/
.dialog-window_theme_default .dialog-window__title
{
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;

    position: absolute;
    top: 0;
    right: 70px;
    left: 60px;

    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #fff;
}

/*Паранжа*/
.dialog-window_theme_default .dialog-window__paranja
{
    z-index: 0 !important;
}
