.dnd-drop
{
    position: relative;

    display: inline-block;

    width: 100px;
    height: 100px;
    margin: 0 0 20px;

    vertical-align: top;

    border: 1px solid #ccc;
}

.dnd-drop:before
{
    font-size: 17px;
    font-style: italic;
    line-height: 1;

    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    height: 17px;
    margin: auto;

    content: 'Drop here';
    text-align: center;

    opacity: 0.5;
}

.dnd-drop_trash:before
{
    content: 'Trash';
}

.val
{
    font-size: 20px;
    line-height: 50px;

    display: inline-block;

    width: 50px;

    text-align: center;
    vertical-align: top;
}
