.dnd-attach__img
{
    max-width: 100%;
    max-height: 100%;

    vertical-align: middle;
}

.dnd-attach__img_hidden
{
    display: none;
}

.dnd-attach__img-wrapper
{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;

    margin: auto;

    text-align: center;
    white-space: nowrap;
}

.dnd-attach__img-wrapper:before
{
    display: inline-block;

    width: 0;
    height: 100%;

    content: '';
    vertical-align: middle;
}
