.page
{
    padding: 20px 0 0 20px;
}

.translit
{
    margin: 10px 0 0;
}

.translit:not(:empty):before
{
    font-style: italic;

    display: block;

    margin: 0 0 10px;

    content: 'Транслит:';
}
