.time-line
{
    display: inline-block;

    vertical-align: top;
}

.time-line__item
{
    font-size: 14px;
    line-height: 34px;

    white-space: nowrap;
    text-transform: capitalize;
}

.time-line__thumb
{
    opacity: 0.7;
    background: #ffeba0;
}


.time-line_direction_horizontal
{
    white-space: nowrap;
}

.time-line_direction_horizontal .time-line__item
{
    display: inline-block;

    margin: 0 5px;
}


.time-line_direction_vertical .time-line__list
{
    padding: 0 10px;
}
