.dnd-attach__preview
{
    position: relative;

    box-sizing: border-box;

    cursor: pointer;

    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;

    flex: 1 1 auto;
}

.dnd-attach__preview:active
{
    background-color: #f6f5f3;
}

.dnd-attach__input:focus + .dnd-attach__preview
{
    box-shadow: 0 0 10px #fc0;
}

.dnd-attach__preview:hover
{
    cursor: pointer;

    border-color: rgba(0, 0, 0, 0.3);
}

.dnd-attach__preview_empty
{
    background: #fff url(dnd-attach__preview.svg) 50% 50% no-repeat;
}

.dnd-attach__preview_big .dnd-attach__img-wrapper:after
{
    font-size: 13px;

    display: inline-block;

    content: 'Файл слишком большой для предпросмотра';
    text-align: center;
    vertical-align: middle;
    white-space: normal;
}
