.calendar
{
    position: relative;

    display: inline-block;
}

.calendar__list
{
    margin: 0 264px 0 0;
    padding: 0 40px 0 20px;

    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.calendar .mini-map__thumb
{
    background: rgba(0, 0, 0, 0.1);
}

.calendar__item
{
    font-size: 14px;
    line-height: 34px;

    white-space: nowrap;
    text-transform: capitalize;
}

.calendar__year
{
    display: inline;

    margin: 0 0 0 0.5em;

    color: #999;
}


.calendar__dates
{
    position: absolute;
    top: 6px;
    right: 20px;
    bottom: 6px;

    overflow: hidden;
}

.calendar__day-names
{
    white-space: nowrap;
}

.calendar__visible
{
    position: absolute;
    top: 32px;
    bottom: 0;

    overflow-y: scroll;
}

.calendar__months
{
    width: 224px;
}

.calendar__day-names .calendar__day
{
    font-size: 11px;

    text-transform: uppercase;
}

.calendar__day
{
    font-size: 14px;
    line-height: 32px;

    display: inline-block;

    width: 32px;

    text-align: center;
}

.calendar__month .calendar__day
{
    cursor: pointer;
}

.calendar__month .calendar__day:not(.calendar__day_in-past):hover
{
    line-height: 30px;

    width: 30px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.calendar__month .calendar__day_selected
{
    background: #fff1a8;
}

.calendar__day_weekend
{
    color: #f92400;
}

.calendar__month .calendar__day_in-past
{
    cursor: default;

    opacity: 0.5;
}

.calendar__month-name
{
    font-size: 14px;
    line-height: 32px;

    margin: 0 0 -32px;

    text-transform: uppercase;

    color: #999;
}

.calendar__month-name:after
{
    display: inline-block;

    width: 100%;
    height: 32px;

    content: '';
    vertical-align: top;
}

.calendar__month-name_startDay_2:after
{
    width: 192px;
}
.calendar__month-name_startDay_2 + .calendar__day
{
    margin-left: 32px;
}

.calendar__month-name_startDay_3:after
{
    width: 160px;
}
.calendar__month-name_startDay_3 + .calendar__day
{
    margin-left: 64px;
}

.calendar__month-name_startDay_4:after
{
    width: 128px;
}
.calendar__month-name_startDay_4 + .calendar__day
{
    margin-left: 96px;
}

.calendar__month-name_startDay_5:after
{
    width: 96px;
}
.calendar__month-name_startDay_5 + .calendar__day
{
    margin-left: 128px;
}

.calendar__month-name_startDay_6:after
{
    width: 64px;
}
.calendar__month-name_startDay_6 + .calendar__day
{
    margin-left: 160px;
}

.calendar__month-name_startDay_7:after
{
    width: 32px;
}
.calendar__month-name_startDay_7 + .calendar__day
{
    margin-left: 192px;
}
